ion-content {
    
}
.no-subscribed {
	width: 140px;
    height: 140px;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.no_content_text {
	margin-top: 15px;
	font-size: 15px;
	color: #666666;
}